/**
* Override bootstrap scss variables here
*/

$enable-shadows: true;

$border-radius: .125rem;
$border-radius-lg: .25rem;
$border-radius-sm: .15rem;

$font-family-base: 'Source Sans Pro', var(--font-family-sans-serif);
